////
// Theme Colors
////

$gunmetal: #3E3E3B;
$denim: #4C566F;
$wash: #EBECED;
$french_blue: #A2AAB0;
$coral: #3DDAD7;


$white: $wash;
$black: $gunmetal;

$light: $french_blue;

$primary: $denim;
$link: $denim;
