////
// Theme Colors
////

// See node_modules/bootstrap/scss/variables to see overridable colors
$primary: #DA2B31;
$secondary: #FC6C08;
$success: #79AC45;
$info: #143A40;
$warning: #DCB623;
$danger: $primary;
$light: #EBF5EE;
$dark: #1C2026;

$theme-colors: (
	"primary":    $primary,
	"secondary":  $secondary,
	"success":    $success,
	"info":       $info,
	"warning":    $warning,
	"danger":     $danger,
	"light":      $light,
	"dark":       $dark
);
